body {
  margin: 0;
}

h1 {
  margin: 0;
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  text-align: center;
  font: bold 120px Helvetica;
  text-transform: uppercase;
  letter-spacing: -2px;
  /* padding-left: 200px;
  padding-right: 200px; */
  padding-bottom: 50px;
  position: relative;
  z-index: 80;
}

#abstract {
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  font: bold 22px Helvetica;
  letter-spacing: -1px;
  margin-top: 50;
  padding-left: 200px;
  padding-right: 200px;
  /* padding-bottom: 50px; */
  position: relative;
  z-index: 80;
  column-count: 2;
}

#quote {
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  font: bold 50px Helvetica;
  letter-spacing: -1px;
  padding-left: 300px;
  padding-right: 200px;
  position: relative;
  z-index: 80;
}

/* .blurry-text {
  text-shadow: 0 0 15px rgb(36, 36, 36);
  color: transparent;
} */

p {
  position: relative;
  /* text-shadow: 0 0 9px rgb(37, 37, 37); */
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  font: bold 30px Helvetica;
  line-height: 1.15;
  letter-spacing: -1px;
  padding-left: 200px;
  padding-right: 200px;
  z-index: 80;
}

/*.paramargin {
  margin-left: 50px;
} */

.margin {
  display: inline-block;
  margin-left: 100px;
}

#Amarcord {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 80;
}

#Stranger {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 80;
}

#Lumiere {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 80;
}

#Alessandro {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5%;
  object-fit: cover;
  z-index: 80;
}

#Aftersun {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 80;
}

.figure {
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  font: bold 18px Helvetica;
  letter-spacing: -1px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  position: relative;
  z-index: 80;
}

#cutup {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 100px;
  z-index: 80;
}

.cutupsecond {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 80;
}

#paperline-top {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 80;
  margin-top: 30;
}

#paperline-bottom {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 80;
}

#sources {
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  font: bold 22px Helvetica;
  letter-spacing: -1px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  position: relative;
  z-index: 80;
  column-count: 2;
}

#endnotes {
  color: #ffffff;
  mix-blend-mode: difference;
  display: block;
  font: 20px Helvetica;
  letter-spacing: -1px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  position: relative;
  z-index: 80;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

/* 
#myVideo {
  position: fixed;
  top: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
} */

@media (max-width: 600px) {
  body {
    margin: 0;
  }

  h1 {
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    text-align: center;
    font: bold 40px Helvetica;
    text-transform: uppercase;
    letter-spacing: -2px;
    /* padding-left: 200px;
          padding-right: 200px; */
    padding-bottom: 50px;
    position: relative;
    z-index: 80;
  }

  #abstract {
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    font: bold 15px Helvetica;
    line-height: 1.1;
    letter-spacing: -1px;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-bottom: 50px; */
    position: relative;
    z-index: 80;
    column-count: 2;
  }

  p {
    position: relative;
    /* text-shadow: 0 0 9px rgb(37, 37, 37); */
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    font: bold 20px Helvetica;
    letter-spacing: -1px;
    margin-top: 10px;
    padding: 0 10 0 10;
    z-index: 80;
  }

  #quote {
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    font: bold 30px Helvetica;
    letter-spacing: -1px;
    padding: 0 10 0 10;
    position: relative;
    z-index: 80;
  }

  .margin {
    display: inline-block;
    margin-left: 30;
  }

  #Amarcord {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
  }

  #Stranger {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
  }

  #Lumiere {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
  }

  #Alessandro {
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 5%;
    object-fit: cover;
    z-index: 80;
  }

  #Aftersun {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
  }

  .figure {
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    font: bold 12px Helvetica;
    letter-spacing: -1px;
    margin-bottom: 50px;
    padding: 0 0 0 10;
    position: relative;
    z-index: 80;
  }

  #cutup {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
    padding: 0;
  }

  .cutupsecond {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
  }

  #paperline-top {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 80;
  }

  #paperline-bottom {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    padding: 50 0 50 0;
    z-index: 80;
  }

  #sources {
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    font: bold 12px Helvetica;
    letter-spacing: -1px;
    padding: 0 10px 0 10px;
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
    z-index: 80;
    column-count: 2;
  }

  #endnotes {
    color: #ffffff;
    mix-blend-mode: difference;
    display: block;
    font: 12px Helvetica;
    letter-spacing: -1px;
    padding: 0 10px 10px 10px;
    position: relative;
    z-index: 80;
  }

  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
  }
}
